<h1>{{titulo}}</h1>
<hr>
<form [formGroup]="form" (ngSubmit)="guardarCambios()" novalidate>
    <div class="example-container">
        <mat-form-field style="width: 200px">
            <input matInput placeholder="Título Receta" formControlName="titulo">
            <!-- <mat-error *ngIf="form.get('titulo').invalid">El título es necesario</mat-error> -->
        </mat-form-field>
        <mat-form-field style="width: 80px; margin-left: 5px">
            <input matInput type="number" placeholder="Tiempo" formControlName="tiempo">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Tipo plato" formControlName="tipo">
                <mat-option *ngFor="let plato of Platos" [value]="plato">
                    {{plato}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <mat-form-field>
                <input matInput placeholder="Nuevo ingrediente" formControlName="ingrediente">

            </mat-form-field>

            <button type="button" mat-icon-button (click)="addIngrediente(form.get('ingrediente').value)">
            <i class="fas fa-plus"></i>
            </button>
            <button type="button" mat-icon-button (click)="quitarIngredientes(ListaIngredientes.selectedOptions)">
                <i class="fas fa-backspace"></i>
            </button>
        </div>

        <mat-selection-list #ListaIngredientes>
            <mat-list-option *ngFor="let ing of Ingredientes">
                {{ing}}
            </mat-list-option>
        </mat-selection-list>

        <mat-form-field class="textarea">
            <textarea matInput matAutosize matAutosizeMinRows="4" placeholder="Instrucciones" formControlName="instrucciones"></textarea>
        </mat-form-field>

        <mat-form-field class="textarea">
            <textarea matInput matAutosize matAutosizeMinRows="2" placeholder="Consejos" formControlName="consejos"></textarea>
        </mat-form-field>

        <mat-form-field class="example-chip-list" class="block">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let eti of etiquetas" [selectable]="selectable" [removable]="removable" (removed)="removeEtiqueta(eti)">
                    {{eti}}
                    <i matChipRemove *ngIf="removable" class="far fa-times-circle"></i>
                </mat-chip>
                <input placeholder="Nueva etiqueta..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addEtiqueta($event)">
            </mat-chip-list>
        </mat-form-field>

        <div>
            <mat-form-field floatLabel="always" class="nutriente">
                <input matInput type="number" placeholder="Hidratos" formControlName="hidratos">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field floatLabel="always" class="nutriente">
                <input matInput type="number" placeholder="Proteínas" formControlName="proteinas">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field floatLabel="always" class="nutriente">
                <input matInput type="number" placeholder="Vegetales" formControlName="vegetales">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field floatLabel="always" class="nutriente">
                <input matInput type="number" placeholder="Frutas" formControlName="frutas">
                <span matSuffix>%</span>
            </mat-form-field>
            <mat-form-field floatLabel="always" class="nutriente">
                <input matInput type="number" placeholder="Lípidos" formControlName="lipidos">
                <span matSuffix>%</span>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit" class="block" [disabled]="form.invalid">
          Enviar
        </button>

    </div>
</form>